@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
//@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;

@import 'components/homepage';
@import 'components/preise';
@import 'components/naturkosmetik';
@import 'components/gutscheine';
@import 'components/ueber';

html { background: #FFF87A url(../img/layout/bg.png) 960px 0 no-repeat; }
body { background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAzcAAAABCAMAAADUxKDFAAAAUVBMVEX29e/19O708+3+93rz8uzx8Or///j99nnv7+j89Xnw7+ny8ev683jp6eL17nX58nf07XT273X273b48Xf38Hb79Hj28JT28Zv39/H/+Hr29vB18lIeAAAAUklEQVQYGe3BxxHAIAwAMIpteoe0/QcNxw65fJDY/SEppVLKmOF9ar2WmE8iYkFraxHROQAQE5/Y8mzbf9jCJzEBgHOIaK3W4SKiI8dSe0vejxcdekygZxA2MAAAAABJRU5ErkJggg==) 0 0 repeat-y; } // ../img/layout/bg_container_filler.png

h2, p, ul {
  margin-bottom: 0.75rem;
}
a {
  text-decoration: none;
  border-bottom: 1px dotted $anchor-color;

  &:hover, &.active { border-bottom: 0; }
}
em {
  font-style: normal;
  font-weight: bold;
}
table {
  width: 100%;

  tr.last td {
    padding-bottom: 0.625rem !important;
  }
  th, td {
    vertical-align: top;
  }
}
hr {
  background: #DDD;
  color: #DDD;
  clear: both;
  float: none;
  width: 100%;
  height: 1px;
  border: none;
}
hr.center {
  margin: 2.5em auto 0 auto;
  width: 50%;
}
blockquote {
  font-size: 1rem;
  font-style: italic;
  text-align: right;
  margin: rem-calc(0 12 16 0);
  font-family: "Times New Roman", serif;
}
blockquote.zitat {
  text-align: center;
}
img.float-right {
  max-width: 50%;
  margin: rem-calc(0 0 12 12);
}
img.center {
  display: block;
  margin: 0 auto;
  text-align: center;
}
img.stretch {
  display: block;
  min-width: 100%;
  width: 100%;
}
p.footnote {
  margin-top: 2em;
  font-size: smaller;
  font-style: italic;
  text-align: center !important;
}
img.banner {
  float: right;
  margin: rem-calc(0 0 0 48);
}
.banner_center {
  margin: 2em 0;

  img {
    margin: 0 auto;
    display: block;
  }
  p.subtitle {
    color: $secondary-color;
    text-align: center;
  }
}

em.italic {
  font-weight: normal;
  font-style: italic;
}

div.expanded-nav {
  img.nav_image_right {
    width: 170px;
    height: 120px;
  }
  img.nav_image_naturys {
    width: 170px;
    height: 99px;
  }
}

$global-padding-left: 168px;

header {
  background: transparent url(../img/layout/bg_header.png) 0 0 no-repeat;
  min-height: 235px;
  padding: 84px 0 0 $global-padding-left;

  .homepage_link {
    display: inline-block;
    text-decoration: none;
    border: none;
    img { position: relative; top: -20px; } // Christmas logo
    span { @include element-invisible; }
  }

  nav {
    display: inline-block;
    ul {
      margin: 0;
      position: relative;
      top: 34px;
      left: 20px;
      li {
        display: inline;
        float: left;
        a {
          position: relative;
          display: block;
          padding: 0 8px;
          border: 0;
          text-align: center;
          &:before {
            content: ' ';
            position: absolute;
            background-color: transparent;
            height: 1px;
            right: 7px;
            bottom: 1px;
            left: 7px;
            border-bottom: 1px dotted $secondary-color;
          }
          &:after {
            content: ' ';
            position: absolute;
            background-color: $black;//$secondary-color;
            width: 1px;
            top: 5px;
            right: -1px;
            bottom: 5px;
          }
        }
        a:hover {
          color: $black;
          &:before { border-bottom: 1px solid transparent; }
        }
        a.active {
          color: $black;
          font-weight: bold;
          &:before { border-bottom: 1px solid transparent; }
        }
        &:last-child a:after { display: none; }
      }
    }
    ul li#nav_item_naturkosmetik, ul li#nav_item_preise {
      clear: left;
    }
  }
}

main.row, footer.row {
  margin-left: 0;
  margin-right: 0;
  background: transparent url(../img/layout/bg_content.png) 0 0 no-repeat;
  padding-left: $global-padding-left;
  padding-right: 50px;
  max-width: 980px;

  .content {
    max-width: 600px;
  }
  h1 span, h2 span, h3 span {
    font-style: normal;
    font-size: 0.8em;
    font-weight: normal;
    color: #555;
    margin-top: -0.4em;
    display: block;
  }
}
footer.row {
  background: transparent url(../img/layout/bg_footer.png) 0 0 no-repeat;
  min-height: 536px;
  font-size: 12px;
  padding-top: 20px;

  h3 {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    font-size: 1.5em;
  }
  img {
    margin: 0 0 0.5rem 0;
  }
  p {
    margin-bottom: 1rem;
  }
  a.active {
    color: $black;
    font-weight: bold;
  }
  span.logo-small {
    background: transparent url(../img/logos/bodycare.png) 0 0 no-repeat;
    background-size: 180px 43px;
    display: block;
    margin: 0 0 0.5rem 0;
    width: 180px;
    height: 43px;
  }

  #footer_address {
    p {
      text-align: right;
      &.address {
        text-align: left;
        img { padding-bottom: 0.5em; }
      }
      span { float: left; }
    }
  }
  #footer_opening_hours {
    p {
      text-align: right;
      span { float: left; }
    }
  }
  #footer_anfahrt p { text-align: left; }
  #footer_kontaktmoeglichkeiten p { padding-right: 2em; }
  #footer_impressum {
    padding-top: 2.5em;

    p { text-align: left; }
  }
}

// only affects medium screens and smaller: @include breakpoint(medium down) {}
// only affects medium screens, not small or large: @include breakpoint(medium only) {}
@include breakpoint(830px down) { // tablets
  $bg-position-x: -78px;
  body { background-position: $bg-position-x 0; }
  header, main.row, footer.row {
    background-position: $bg-position-x 0;
    padding-left: ($global-padding-left + $bg-position-x);
  }
}
@include breakpoint(767px down) { // smaller than tablets
  $bg-position-x: -100px;
  body { background-position: $bg-position-x 0; }
  header, main.row, footer.row {
    background-position: $bg-position-x 0;
    padding-left: ($global-padding-left + $bg-position-x);
  }
}
@include breakpoint(670px down) {
  $global-padding-left: 30px;
  $global-padding-right: 30px;
  $bg-position-x: -120px;
  body { background-position: $bg-position-x 0; }
  h1 { text-align: center; }
  header, main.row, footer.row {
    background-position: $bg-position-x 0;
    padding-left: $global-padding-left;
    padding-right: $global-padding-right;
  }
  header {
    min-height: 210px; // hide horizontal line

    .homepage_link {
      position: absolute;
      width: 90%;
      left: 5%;
      top: 100px;
      text-align: center;
      img { position: relative; top: -40px; } // Christmas logo
    }
    nav {
      background: #f6f6f0;
      display: block;
      margin: 120px ($global-padding-right * -1) 0 0;
      text-align: center;
      ul {
        position: static;
        display: inline-block;
        padding: 0 $global-padding-left 0 0;
        text-align: center;
        li { float: none; clear: none !important; display: inline-block; }
      }
    }
  }
  main.row {
    padding-top: 40px;
  }
  footer.row {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAzcAAAABCAMAAADUxKDFAAAAUVBMVEX29e/19O708+3+93rz8uzx8Or///j99nnv7+j89Xnw7+ny8ev683jp6eL17nX58nf07XT273X273b48Xf38Hb79Hj28JT28Zv39/H/+Hr29vB18lIeAAAAUklEQVQYGe3BxxHAIAwAMIpteoe0/QcNxw65fJDY/SEppVLKmOF9ar2WmE8iYkFraxHROQAQE5/Y8mzbf9jCJzEBgHOIaK3W4SKiI8dSe0vejxcdekygZxA2MAAAAABJRU5ErkJggg==); // ../img/layout/bg_container_filler.png
  }
}
@include breakpoint(520px down) {
  header nav ul li a {
    padding-top: 4px;
    padding-bottom: 4px;
    &:before { bottom: 4px; }
    &:after {
      top: 9px;
      bottom: 9px;
    }
  }
  img.float-right, img.banner {
    float: none !important;
    max-width: 100%;
    margin: 1rem auto;
    display: block;
  }
  footer.row {
    font-size: 14px;
    .small-6.columns   { width: 70%; }
    .xsmall-12.columns { width: 100%; }
    #footer_kontaktmoeglichkeiten p { padding-right: 0; }
    #footer_impressum p {
      text-align: center;
    }
  }
}
@include breakpoint(450px down) {
  header nav ul li {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  header nav ul li a {
    font-size: 15px;
  }
  footer.row {
    .small-6.columns { width: 100%; }
  }
}
@include breakpoint(320px down) {
  header .homepage_link {
    padding: 0 30px;
  }
}
