.page-index {
  a.start {
    display: block;
    border-bottom: 0;

    h2 {
      line-height: 1.2;
      margin-top: 0.25rem;
      display: inline;

      span {
        margin-top: 0.5rem;
        color: $secondary-color;
        font-size: 0.9rem;
        font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
      }
    }
    img {
      float: right;
      margin: rem-calc(0 0 0 12);
    }

    &:hover, &.active {
      h2 {
        border-bottom: 1px dotted $anchor-color;
        span { color: #B5A9A9; }
      }
    }
  }
  .expanded-nav {
    margin-bottom: 2rem;
  }

  @include breakpoint(520px down) {
    a.start img {
      margin: rem-calc(0 0 5 12);
      max-width: 140px;
    }
  }
  @include breakpoint(450px down) {
    a.start img {
      display: none; // hide images in phone portrait
    }
  }
}
