.page-preise {
  main.row {
    table {
      tr {
        &.group-caption td {
          font-weight: bold;

          &.non-bold {
            font-weight: normal;
          }
        }
        &.group-item td {
          padding-top: 0;
          padding-bottom: 0;

          &:first-child { padding-left: 1rem; }
        }
        &.group-item.no-indent td:first-child { padding-left: 0; }
      }
      td {
        span { font-style: italic; }
        &.preis {
          padding-right: 2rem;
          vertical-align: top;
        }
      }
    }

    @include breakpoint(520px down) {
      table td.preis {
        padding-right: 0;
        padding-left: 1rem;
      }
    }
  }
}
