<footer class="row"><!-- class="clearfix">-->
  <div class="content" id="footer_address">
    <h3>Kontakt</h3>
    <img width="153" height="41" alt="kleines Logo" src="assets/img/logos/bodycare_small.png" />
    <div class="row">
      <div class="small-6 medium-4 columns">
        <p class="address">
          <em>Katrin Lohse</em><br />
          <a href="http://maps.google.de/maps?f=q&amp;source=s_q&amp;hl=de&amp;geocode=&amp;q=Karl-Liebknecht-Str.+15,+leipzig&amp;sll=51.350221,12.378315&amp;sspn=0.007987,0.020041&amp;ie=UTF8&amp;hq=&amp;hnear=Karl-Liebknecht-Stra%C3%9Fe+15,+Leipzig+Zentrum-S%C3%BCd+04107+Leipzig,+Sachsen&amp;ll=51.32977,12.37362&amp;spn=0.001998,0.00501&amp;t=h&amp;z=18&amp;iwloc=lyrftr:h,3046246331160913358,51.329563,12.373685">Karl-Liebknecht-Str. 15</a><br />
          1. OG, Eingang Hohe Str.<br />
          04107 Leipzig
        </p>
      </div>
      <div class="small-6 medium-5 columns end" id="footer_kontaktmoeglichkeiten">
        <p>
          <br />
          <span>Telefon:</span> 0341 - 14 92 868<br />
          <span>Mobil:</span> 0176 - 22 37 42 94<br />
          <span>E-Mail:</span> <a href="mailto:info@bodycare-leipzig.de">info@bodycare-leipzig.de</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="small-6 medium-5 columns" id="footer_opening_hours">
        <h3>&Ouml;ffnungszeiten</h3>
        <p>
          <span>Montag &amp; Freitag:</span> 9 - 16 Uhr<br />
          <span>Dienstag &amp; Donnerstag:</span> 11 - 20 Uhr<br />
          <span>Mittwoch:</span> Hausbesuche<br />
          <span>Samstag:</span> 10 - 14 Uhr
        </p>
      </div>
      <div class="xsmall-12 small-6 medium-4 columns end" id="footer_anfahrt">
        <h3>Anfahrt</h3>
        <p>Vom Hauptbahnhof mit <em>Linie 10</em> (Richtung L&ouml;&szlig;nig) oder <em>Linie 11</em> (Richtung Mark&shy;klee&shy;berg Ost) in nur 3 Stationen bis <em>Hohe Stra&szlig;e</em>.</p>
        <p><a href="http://maps.google.de/maps?f=q&amp;source=s_q&amp;hl=de&amp;geocode=&amp;q=Karl-Liebknecht-Str.+15,+leipzig&amp;sll=51.350221,12.378315&amp;sspn=0.007987,0.020041&amp;ie=UTF8&amp;hq=&amp;hnear=Karl-Liebknecht-Stra%C3%9Fe+15,+Leipzig+Zentrum-S%C3%BCd+04107+Leipzig,+Sachsen&amp;ll=51.32977,12.37362&amp;spn=0.001998,0.00501&amp;t=h&amp;z=18&amp;iwloc=lyrftr:h,3046246331160913358,51.329563,12.373685">In Google Maps anzeigen</a></p>
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns" id="footer_impressum">
        <p>
          &copy; 2006 &ndash; 2015 www.bodycare-leipzig.de |
          <a href="impressum_agb.html" class="{{#ifpage 'impressum_agb'}}active{{/ifpage}}">Impressum &amp; AGB</a><br />
          Webdesign: Falko Seidel, <a href="http://www.fseid.de">www.fseid.de</a>
        </p>
      </div>
    </div>
  </div>
</footer>

<script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
<script type="text/javascript">
  _uacct = "UA-2793965-1";
  urchinTracker("{{ tracking_page }}");
</script>
