<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Naturkosmetik-Salon in Leipzig">
    <meta name="keywords" content="Naturkosmetik,Leipzig,Enthaarung,Fu&szlig;pflege,Augenbrauenzupfen,Salon" />
    <title>Bodycare &ndash; Ihr Naturkosmetik-Salon in Leipzig &raquo; {{ page_title }}</title>

    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body class="page-{{page}}">
    {{> header }}
    <main class="row">
      <div class="content">
        {{> body }}
      </div>
    </main>
    {{> footer }}

    {{#ifpage 'index'}}
      {{> microdata }}
    {{/ifpage}}
  </body>
</html>
